body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
}

.sidebar {
    width: 200px;
    background: #020e46;
    color: #fff;
    padding: 15px;
    position: fixed;
    height: 100%;
    overflow-y: auto; /* Make sidebar scrollable */
}




.sidebar h2 {
    color: #fff;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.main-content {
    margin-left: 220px;
    padding: 20px;
    flex: 1;
}

header {
    background-color: #e65100;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    margin: 20px 0;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0d47a1;
    border-bottom: 2px solid #ccc;
    padding-bottom: 0.5rem;
}

h3 {
    color: #33c23a;
}

p {
    color: #37474f;
}

ul {
    list-style-type: disc;
    margin: 10px 0 10px 20px;
}

li {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
